aiogram==3.2.0
python-dotenv==1.0.0
SQLAlchemy==2.0.25
httpx==0.27.0
aiohttp==3.9.1
greenlet>=1.1.0
Pillow==10.3.0
opencv-python==4.9.0.80
python-multipart==0.0.6
cryptography==42.0.5
loguru==0.7.2
diffusers
torch
transformers
controlnet_aux
replicate # Добавляем клиент для Replicate.com

# Дополнительные зависимости для постобработки изображений
rembg # Для удаления фона
aiosqlite # Для асинхронной работы с SQLite
